*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.btn-secondary{
    color: #0d6efd;
    background-color: #fff;
    border-color: #fff;
}
.sec_01{
    width: 100%;
    height: 100px;
    display: flex;
    /* justify-content:space-around; */
    position: fixed;
    top: -1.5em;
    z-index: 1;
}
.sec_01_nav{
    width: 100%;
    background-color: #fff;
}
.sec_01 img{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 20%;
}
.nav{
    position: absolute;
    top: 45%;
    left: 25%;
    width: 40%;
}
.nav-item{
    width: 20%;
    text-align: center;
    -webkit-text-stroke-width: medium;
    position: relative;
}
.nav-item:hover{
    border-bottom: 4px solid #ef233c;
    transition: all 0.5s ease;
}
.nav-link{
    color: #ef233c;
}
.btn-secondary{
    color: #ef233c;
}
.lg{
    width: 30%;
    position: absolute;
    top: 40%;
    left: 70%;
    display: flex;
}
.btn-danger{
    margin-left: 1em;
}
#sun{
    color: #e87d12;
    padding-left: 1em;
    font-size: 1.5em;
    font-size: 30px;
    display: none;
}
#moon{
    color: #1b1a1a;
    padding: 0em 1em;
    font-size: 1.5em;
    font-size: 30px;
}
.topnav{
    background-color: black;
    position: relative;
    display: none;
}
.topnav #myLinks {
    display: none;
}
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover {
    background-color: rosybrown;
    color: black;
}
@media only screen and (max-width: 564px){
    .sec_01 img{
        width: 30%;
    }
    .nav{
        display: none;
    }
    .topnav{
        display: block;
        width: 9%;
        height: 50%;
        /* position: absolute;  */
        left: 88%;
        top: 25%;
        background-color: #ef233c;
    }
    .lg{
        height: 4em;
        left: 45%;
        top: 20%;
        display: flex;
    }
    .lg button{
        margin-left: 10%;
    }
    #moon{
        padding-top: 0.5em;
        font-size: 35px;
    }
}
@media only screen and (max-width: 1200px){
    .lg{
        width: 30%;
    }
    .sec_01 img{
        top: 25%;
        left: 2%;
    }
}
/* sec_02 */
.sec_02{
    margin-top: 4.5em;
}
.carousel-inner{
    height: 400px;
}
@media only screen and (max-width: 564px){
    .carousel-inner{
        height: 250px;
    }
}

/* sec_03 */
.sec_03{
    width: 100%;
    height: 500px;
    background-color: white;
}
.free{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.free h1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(22, 16, 16);
}
.platform{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.plat_01{
    background-image: url(/img/banner5.jpg);
    background-size: cover;
    width: 40%;
    height: 70%;
    margin-right: 35px;
    padding: 40px 35px;
    background-color: rgba(0 , 0, 0 ,0.5 );
}
.plat_02{
    background-image: url(/img/banner4.jpg);
    background-size: cover;
    width: 40%;
    height: 70%;
    margin-right: 35px;
    padding: 40px 35px;
    /* overflow: hidden; */
    background-color: rgb(0 0 0 / 40%);
}

.platform h2{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.platform button{
    width: 30%;
    height: 30%;
    color: #fff;
    font-weight: bold;
    background-color: rgba(252, 252, 252, 0);
    border: 2px solid #fff;
}
@media only screen and (max-width: 564px){
    .sec_03{
        height: 55em;
    }
    .platform{
        height: 45em;
        flex-direction: column;
    }
    .plat_01{
        width: 95%;
        margin: 50px 0px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 2%;
    }
    .plat_02{
        width: 95%;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 2%;
    }
}

/* sec_04 */
.sec_04{
    width: 100%;
    height: 180vh;
}
.sec_04 h1{
    margin-left: 70px;
    margin-bottom: 35px;
    font-weight: bold;
}
.deal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}
.deal_item{
    width: 15%;
    height: 100%;
}
.deal_item img{
    width: 75%;
}
.deal_item p{
    margin-top: 15px;
    font-weight: bold;
    line-height: 25px;
}
@media only screen and (max-width: 564px){
    .sec_04{
        height: 3550px;
    }
    .deal{
        height: 1100px;
        flex-direction: row;
    }
    .deal_item{
        width: 40%;
        height: 30%;
    }
    .deal_item img{
        width: 90%;
    }
}


/* sec_05 */
.sec_05{
    background-image: url(/img/banner5.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}
.sec_05 h1{
    color: #fff;
}
@media only screen and (max-width: 564px){
    .sec_05{
        padding-top: 95px;
        height: 24em;
        background-size: 52em;
    }
}

/* sec_06 */
.sec_06{
    width: 100%;
    height: 650px;
    padding-top: 45px;
}
.shop{
    padding-left: 145px;
    padding-bottom: 40px;
}
.with_us{
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}
.with_item{
    width: 20%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.with_item img{
    width: 85%;
}
/* .with_item p{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
} */
#price{
    color: crimson;
}
.with_item p:hover{
    color: crimson;
}
@media only screen and (max-width: 564px){
    .sec_06{
        height: 1050px;
    }
    .shop{
        padding-left: 40px;
        padding-bottom: 40px;
    }
    .shop h1{
        font-weight: bold;
    }
    .with_us{
        height: 500px;
    }
    .with_item{
        width: 45%;
        height: 85%;
    }
    .with_item img{
        width: 95%;
    }
}

/* SEC_07 */
.sec_07{
    height: 60vh;
    background-image: url(/img/banner3.jpg);
    background-position: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}
.review{
    width: 25%;
    height: 55vh;
}
.review p{
    font-size: 18px;
    line-height: 28px;
    color: #888;
}
.review h1{
    color: #fff;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: capitalize;
}
.review h2{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    color: #ee4266;
}
.r_view{
    background-color: #fff;
    height: 40vh;
}
.r_view p{
    padding: 25px   ;
}
.r_view i{
    color: #ee4266;
}
.exa h1{
    font-size: 18px;
    line-height: 28px;
}
.exa p{
    color: #fff;
    opacity: 0.9;
}
@media only screen and (max-width: 564px){
    .sec_07{
        height: 800px;
        background-size: 50em;
        flex-direction: column;
    }
    .review{
        width: 75%;
        height: 25%;
    }
}

/* SEC_08 */
.sec_08{
    width: 100%;
    height: 450px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.gmail{
    width: 60%;
    padding: 75px 50px;
}
.gmail i{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.gmail h1{
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.gmail p{
    font-size: 18px;
    line-height: 28px;
    color: #888;
    text-align: center;
}
.input-group{
    width: 65%;
    height: 50px;
    margin-left: 140px;
    margin-bottom: 15px;
}
.input-group-text{
    background-color: #ef233c;
    color: #fff;
}

@media only screen and (max-width: 564px){
    .sec_08{
        height: 30em;
    }
    .gmail{
        width: 95%;
    }
    .input-group{
        width: 70%;
        height: 85px;
        margin-left: 65px;
        display: flex;
        flex-direction: column;
    }
    .input-group>.form-control{
        width: 100%;
    }
}
@media only screen and (max-width: 1200px){
    .input-group{
        width:70%;
        margin-left: 90px;
    }
}

/* SEC_09 */
.sec_09{
    width: 100%;
    height: 95vh;
    background-color: rgb(0, 0, 0);
}
.offer{
    width: 100%;
    height: 30vh;
    padding: 15px 105px;
}
.offer h1{
    width: 100%;
    height: 30vh;
    padding: 1em;
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    display: block;
}
.use{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.useful h1{
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 32px;
    font-weight: 600;
}
.useful ul{
    margin: 0;
    padding: 0;
}
.useful li{
    list-style: none;
    display: block;
    margin-bottom: 10px;
}
.useful a{
    text-decoration: none;
    font-size: 17px;
    color: #888;
}
.useful a:hover{
    color: #fff;
}
.useful i{
    font-size: 45px;
    color: #fff;
}
@media only screen and (max-width: 564px){
    .sec_09{
        height: 75em;
    }
    .offer{
        width: 100%;
        height: 10em;
        padding: 2em;
    }
    .offer h1{
        font-size: 25px;
    }
    .use{
        flex-direction: column;
        padding: 2em;
    }
    .useful i {
        font-size: 65px;
    }
}